__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.DS_Store
.idea/
.vscode/

.mypy_cache/
.pytype/
.ruff_cache/
.pytest_cache/
.cache/

.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/

db.sqlite3
*.sqlite3
*.log
media/
staticfiles/

.env
.env.*
.python-version
__pypackages__/
